.navbar{
	background-color: #20576b !important;
	
}

.nav-item{
	font-family: Roboto;
	font-size: 1rem;
	
}

nav {
	height: 86px;
}

table td {
	padding:1rem;
}

.album-details{
	justify-content: center;
	display: flex;
	flex-flow: row;
}

.album-details-artwork{
	margin-right: 50px;
	margin-bottom: 50px;
}

.tracks{
	display: flex;
	flex-direction: column;	
}


/* sidenav css */

.sidenav {
	height: 100%;
	border-right:black 1px;
	border-right-width:thick;

}

.sidenav ul {
	list-style-type: none;
}

#albums {
	display:flex;
	flex-wrap:wrap;
}

.sidenav h5 {
	text-align:center;
	margin-bottom: 20px;
}

.sidenav li {
	margin-left:80px;
	padding:2px;
}


.container-fluid{
	height:100%;
}


/*cart */


  
  






