.navbar{
	background-color: #20576b !important;
	
}

.nav-item{
	font-family: Roboto;
	font-size: 1rem;
	
}

nav {
	height: 86px;
}

table td {
	padding:1rem;
}

.album-details{
	justify-content: center;
	display: flex;
	flex-flow: row;
}

.album-details-artwork{
	margin-right: 50px;
	margin-bottom: 50px;
}

.tracks{
	display: flex;
	flex-direction: column;	
}





/*cart */


  
  






