<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href ="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen" >
</head>
<body>
	<div class="container-fluid mr-0 -p-0">
		<div th:replace="/fragments/topbar :: topbar"></div>
		<div class="container-fluid">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div layout:fragment="content">
                        !!!
                    </div>
                </main>
		
		
		</div>
	</div>
</body>
</html>