<!DOCTYPE html>
<html layout:decorate="~{admin/layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">
		<div class="d-flex flex-row">
			<h1 class="mt-2 mb-2">Users</h1>
			
		</div>
			<div class="table-responsive">
                <table class="table table-striped table-sm table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Username</th>
                            <th class="text-center">Role</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${users}">
                            <td class="text-center" th:text="${user.idUser}" />
                            <td class="text-center" th:text="${user.username}" />
                            <td class="text-center" th:text="${user.role.roleName}" />
                            <td class="p-auto">                        
                                <a class="btn btn-sm btn-outline-secondary bg-warning text-dark" data-toggle="tooltip" data-placement="top" title="Edit" th:href="@{/admin/}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                
                                </a>
                                <a class="btn btn-sm btn-outline-dange bg-danger text-lightr" data-toggle="tooltip" data-placement="top" title="Delete"  th:href="@{/admin/users/delete/{id}(id=${user.idUser})}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                   
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
	</div>
</body>
</html>