<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar (activeNav)">
 <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item m-auto">
          <a class="nav-link d-flex align-items-center mb-1" th:href="@{/}">Home</a>
        </li>
         <li class="nav-item m-auto">
          <a class="nav-link d-flex align-items-center mb-1" th:href="@{artists}">Artists</a>
        </li>
         <li class="nav-item m-auto">
          <a class="nav-link d-flex align-items-center mb-1" th:href="@{albums}">Albums</a>
        </li>
        <li class="nav-item m-auto">
          <a class="nav-link d-flex align-items-center mb-1" th:href="@{/}">Tracks</a>
        </li>
        <li class="nav-item m-auto">
          <a class="nav-link d-flex align-items-center mb-1" th:href="@{genres}">Genres</a>
        </li>
        <li class="nav-item m-auto">
          <a class="nav-link d-flex align-items-center mb-1" th:href="@{users}">Users</a>
        </li>
      </ul>
    </div>		
</nav>

</body>
</html>