<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-dark static-top bg-dark flex-md-nowrap p-0 shadow mb-1" th:fragment="topbar">
	<a class="navbar-brand col-sm-3 col-md-2 mr-0 m-auto" th:href="@{/admin}">Music Store Administrator</a>
	<ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <form th:action="@{/logout}" method="post">
                    <input class="btn bg-danger text-white m-2"  type="submit" value="Logout"/>
                </form>
            </li>
        </ul>
</nav>

</body>
</html>